
services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    # environment:
    #   - NODE_ENV=development
    #   - AUTH_SECRET=123456
    env_file:
      - ./.env